/.vs
/command/x64
/flyweight/x64
/observer/x64
/prototype/x64
/singleton/x64
/state/x64
/dubble_buffer/x64
/game_loop/x64
/update_method/x64
/bytecode/x64
/subclass_sandbox/x64
/type_object/x64
/component/x64
/event_queue/x64
/service_locator/x64
/data_locality/x64
/dirty_flag/x64
/dirty_flag/glm
/object_pool/x64
/spatial_partition/x64
/game_project_perditio/x64
*.exe
*.ilk
*.pdb
*.log
*.pch
*.idb
*.tlog
*.lastbuildstate
*.suo
*.db
*.iobj
*.ipdb
